---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const research_papers = await getCollection("research");

  return research_papers.map((research) => ({
    params: { slug: research.slug },
    props: { research },
  }));
}
interface Props {
  research: CollectionEntry<"research">;
}
const { research } = Astro.props;
const { Content } = await research.render();
---

<Layout
  title={research.data.title}
  description={research.data.description}
  og_title={research.data.title}
  og_description={research.data.description}
  og_type="article"
>
  <article class="prose mx-auto flex w-full max-w-prose flex-col gap-4">
    <h1 class="mb-0">
      {research.data.title}
    </h1>
    <p class="mt-0 mb-1">{research.data.description}</p>
    <div class="divider m-0"></div>
    <Content />
  </article>
</Layout>
